@import "../../scss/base.scss";

.fontIcon {
    
}

.menu:before {
    content: '\e636';
}

.search:before {
    content: '\e6b4';
}

.gift:before {
    content: '\e652';
}

.gear:before {
    content: '\e6c4';
}

.rocket:before {
    content: '\e6c3';
}

.page:before {
    content: '\e672';
}

.block:before {
    content: '\e6c1';
}

.diamond:before {
    content: '\e6af';
}

.car:before {
    content: '\e6a2';
}

.slide:before {
    content: '\e65d';
}

.chart:before {
    content: '\e64c';
}

.profile:before {
    content: '\e68f';
}

.monitor:before {
    content: '\e65e';
}

.bulb:before {
    content: '\e643';
}

.controller:before {
    content: '\e6a4';
}

.piechart:before {
    content: '\e64e';
}

.thunder:before {
    content: '\e650';
}

.node:before {
    content: '\e64d';
}

.slider:before {
    content: '\e659';
}

.scholar:before {
    content: '\e60f';
}

.property:before {
    content: '\e662';
}
