@font-face {
    font-family: 'Pe-icon-7-stroke';
    src: url('./font-icons.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

i {
    font-family: 'Pe-icon-7-stroke';
    font-style: normal;
    font-weight: normal;
}
